- content_for :head do
  %title Simple Presentation Engine

%header
  .wrapper
    %h1 Presentation.js
    = link_to 'Github'

.btn.prev &lsaquo;
.btn.next &rsaquo;

#presentation
  .wrapper

    %article
      %h1 Simple presentation engine
      %p Click to continue

    %article
      %h1
        You can use
        %span Left
        or
        %span Right

    %article
      %h1
        And either
        %span PgUp
        or
        %span PgDown

    %article
      %h1 It supports
      %ul
        %li Lists
        %li Code
        %li Blockqoute
        %li Images

    %article
      %h1 Put some code here
      %pre
        %code
          :plain
            $(function() {
              $('#presentation').present({
                prevBtn: '.btn.prev',
                nextBtn: '.btn.next',
              });
            });
